html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: lightgrey;
}

#root {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

@import "fonts.scss";
@import "scenes/game-field.scss";